.message-header {
    font-size: 1.2em;
    color: rgb(16, 50, 94);
}

.message-list {
    list-style-type: none;
}

.send-container {
    margin-top: 2em;
    margin-left: 1em;
}

.form-components-container {
    margin-top: 2em;
}

.main-heading {
    margin-top: 1em;
    margin-left: 0.5em;
}

.nav {
    margin-left: 0.25em;
}

.form {
    margin-left: 1em;
}

#message-input {
    width: 30%;
}

#message-label {
    margin-top: 0.25em;
}